:root {
    /* colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* fonts */
    --fs-base: 1.5rem;
    --fs-lg: 2.2rem;

    --ff-primary: 'Outfit', sans-serif;
    
    --fw-md: 400;
    --fw-lg: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-height: 100dvh;

    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    min-height: 100dvh;

    min-block-size: 100vh;
    min-block-size: 100dvh;
    
    background: var(--light-gray);

    font-size: var(--fs-base);
    font-family: var(--ff-primary);
}

.card {
    max-width: 32rem;
    max-inline-size: 32rem;
    padding: 1.6rem 1.6rem 4rem 1.6rem;

    background: var(--white);

    text-align: center;

    border-radius: 2rem;
    box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 4.77%);
}

.card__image {
    display: block;
    max-width: 100%;
    max-inline-size: 100%;
    block-size: auto;

    margin-bottom: 2.4rem;
    margin-block-end: 2.4rem;

    border-radius: 1rem;
}

.card__title {
    margin-bottom: 1.6rem;
    margin-block-end: 1.6rem;

    color: var(--dark-blue);

    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
}

.card__text {
    padding: 0 1.6rem;
    padding-inline: 1.6rem;

    color: var(--grayish-blue);

    font-weight: var(--fw-md);
    letter-spacing: 0.19px;
}